# env-ViZDoom-turbo Plus scenario.
# Derived from ViZDoom's canonical Basic scenario.

doom_scenario_path = basic_plus.wad
doom_map = map01

living_reward = -1

screen_resolution = RES_320X240
render_hud = false
render_crosshair = false
render_weapon = true
render_decals = true
render_particles = true

episode_start_time = 14
episode_timeout = 300

available_buttons =
    {
        MOVE_LEFT
        MOVE_RIGHT
        ATTACK
    }

available_game_variables = { AMMO2 }

mode = PLAYER
doom_skill = 5
